.page-weather {
  width: 40vw;
  height: calc(80vh - 80px);
  margin: calc(80px + 10vh) auto;
  border: 2px solid #777;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  @media (max-width: 730px) {
    width: 90vw;
  }

  article{
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  .weather-temp {
    font-size: 52px;
    flex-grow: 2;
  }
  .weather-wind {
    font-size: 38px;
    flex-grow: 1;
  }
  .weather-pressure {
    font-size: 38px;
    flex-grow: 1;
  }

  .api-loader {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgba(tomato, 0.5);
    border-right: 3px solid tomato;
    animation: loading 1s 0s infinite linear;
  }


  @keyframes loading {
    100% {
      transform: rotate(360deg);
    }
  }

}

